/* Layout adjust */
main {
    margin: 40px 0px;
    background: #000;
}
.welcome-bg {
    background-color: #000;
}
body {
    background-color: #000;
    color: #f3f4f6;
}
.min-h-screen {
    width: calc(100% - 80px);
    margin-left: 80px;
}

label {
    color: rgb(156 163 175 / var(--tw-text-opacity, 1)) !important;
}

/* Guest blade */
.guest-blade .min-h-screen {
    padding: 10px;
}

/* Exercises media */
img.media-image,
img.main-image {
    -o-object-fit: cover;
    object-fit: cover;
    height: -webkit-fill-available;
    width: inherit;
}
li.image-gif-position:hover img.main-image {
    display: none;
}
div.image-gif-position:hover img.main-image {
    display: none;
}

/* Font for workout level */
.font-adjust {
    font-family: cursive;
}
